[Unit]
Description=Rotate IRC log files
Documentation=man:logrotate(8)

[Service]
Type=oneshot
ExecStart=/usr/bin/env
ExecStart=/usr/bin/logrotate -s %t/logrotate.state  %h/.local/share/logrotate.d/irc
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7
