# XDG_CONFIG_HOME/systemd/user/mpd.service

[Unit]
Description=Music Player Daemon

[Service]
Type=forking
Environment=PULSE_PROP=application.icon_name=sound
PIDFile=%h/.config/mpd/mpd.pid
ExecStart=/usr/bin/mpd

[Install]
WantedBy=default.target
