# ~/.config/systemd/user/mpd.socket

[Unit]
Description=Music Player Daemon socket

[Socket]
ListenStream=%t/mpd.control
ListenStream=6600

[Install]
WantedBy=default.target
