# XDG_CONFIG_HOME/systemd/user/mpd.service

[Unit]
Description=Music Player Daemon

[Service]
Type=forking
ExecStart=/usr/bin/mpd
PIDFile=%h/.config/mpd/mpd.pid

[Install]
WantedBy=default.target
