# XDG_CONFIG_HOME/systemd/user/pulseaudio.service

[Unit]
Description=PulseAudio Server

[Service]
Restart=on-failure
ExecStart=/usr/bin/pulseaudio
ExecStop=/usr/bin/pulseaudio --kill

[Install]
WantedBy=default.target
