# XDG_CONFIG_HOME/systemd/user/pulseaudio.service

[Unit]
Description=PulseAudio Server

[Service]
ExecStart=/usr/bin/pulseaudio
ExecStop=/usr/bin/pulseaudio --kill

BusName=org.pulseaudio.Server
Restart=on-failure

[Install]
WantedBy=default.target
