# ~/.config/systemd/user/wall.service

[Unit]
Description=Set background wallpaper

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/hsetroot -fill %h/.background.png

[Install]
WantedBy=xinitrc.target
