/* XDG_CONFIG_HOME/pentadactyl/chrome.css */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Get rid of the bottom border */
#TabsToolbar:after {
    border-bottom: 0px !important;
}

/* Hide the new curved tab edges */
.tab-background {
    opacity: 0 !important;
}

/* Hide the little graphic seperator between inactive tabs */
.tabbrowser-tab:before,
.tabbrowser-tab:after {
    max-height: 22px !important;
    visibility: hidden !important;
}

/* Hide the status panel popup, newtab and tabview buttons. */
statuspanel, #new-tab-button, #tabview-button,
.tabs-newtab-button, .tab-close-button {
    display: none !important;
}

/* Reduce the padding around the contents of a tab */
.tab-content {
    padding: 0 0px 2px 2px !important;
}

#TabsToolbar {
    -moz-appearance: none !important;
    background: #dedede !important;
}

#tabbrowser-tabs {
    max-height: 22px !important;
    min-height: 22px !important;
}

/* Make the tab expand to fill the maximum width */
.tabbrowser-tab {
    max-width: 100% !important;
    color: #676666 !important;
}

.tabbrowser-tab[selected] {
    background: #676666 !important;
    color: #efefef !important;
}
