/* ~/.config/pentadactyl/chrome.css */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Get rid of the bottom border */
#TabsToolbar:after {
    border-bottom: 0px !important;
}

/* Hide the new curved tab edges */
.tab-background {
    opacity: 0 !important;
}

/* Hide the little graphic seperator between inactive tabs */
.tabbrowser-tab:before,
.tabbrowser-tab:after {
    visibility: hidden !important;
}

/* Reduce the padding around the contents of a tab */
.tabbrowser-tab .tab-content,
.tabbrowser-tab[selected] .tab-content {
    padding: 0 2px 2px 4px !important;
}

#TabsToolbar {
    -moz-appearance: none !important;
    background: #dedede !important;
}

/* Hide the newtab button */
.tabs-newtab-button {
    display: none !important;
}

/* Mostly hacks to try deal with tab overflow, it's not pretty */
#tabbrowser-tabs {
    margin-left: -15px !important;
    margin-right: -15px !important;
}

#tabbrowser-tabs ~ #alltabs-button {
    padding-left: 15px !important;
}

/* Make the tab expand to fill the maximum width */
.tabbrowser-tab {
    max-width: 100% !important;
    color: #676666 !important;
}

.tabbrowser-tab[selected] {
    background: #676666 !important;
    color: #efefef !important;
}
